@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Related Projects</h3>
<ul>
    <li><a href="https://github.com/richardschneider/net-ipfs-core">IPFS Core</a> - The core objects and interfaces of IPFS.</li>
    <li><a href="https://github.com/richardschneider/net-ipfs-api">IPFS API</a> - A .Net client library for the IPFS HTTP API.</li>
    <li><a href="https://github.com/richardschneider/net-ipfs-engine">IPFS Engine</a> - Implements the Core API.</li>
    <li><a href="https://github.com/cloveekprojeqt/ipfs-dsl">IPFS DSL</a> - A declarative embedded language for building compositional programs and protocols over IPFS.</li>
</ul>